 
  <form class="form-horizontal">
  <div class="form-group">
    <label for="genDesc" class="col-sm-2 control-label">DESCRIPTION:</label>
      <textarea class="form-control" ng-model="generalGoalBox" flexible-width></textarea>
  </div>
  <div class="form-group">
    <label for="genWeight" class="col-sm-2 control-label">WEIGHT (EQUALS 100%):</label>
    <input class="form-control" ng-model="generalWeightBox" style="width:65px">
  </div>
  <div class="form-group">
    <label for="genEvl" class="col-sm-2 control-label">EVALUATION :</label>
    <input class="form-control" ng-model="generalEvalBox" style="width:65px">
  </div>
  <div class="form-group">
    <label for="genPoints" class="col-sm-2 control-label">POINTS: </label>
    <input class="form-control" ng-model="generalPointsBox" style="width:65px">
  </div>
  <div class="form-group">
    <label for="genSelfEvl" class="col-sm-2 control-label">SELF EVALUATION :</label>
    <textarea class="form-control" ng-model="generalSelfEvalBox" flexible-width></textarea>
  </div>
  <div class="form-group">
    <label for="genScrAno" class="col-sm-2 control-label">SCORING ANNOTATION:</label>
    <textarea class="form-control" ng-model="generalScoringAnnoBox" flexible-width></textarea>
  </div>
</form>