  
  <form class="form-horizontal">
  <div class="form-group">
    <label for="orgDesc" class="col-sm-2 control-label">DESCRIPTION:</label>
      <textarea class="form-control" ng-model="orgGoalBox" flexible-width></textarea>
  </div>
  <div class="form-group">
    <label for="orgWeight" class="col-sm-2 control-label">WEIGHT (EQUALS 100%):</label>
    <input class="form-control" ng-model="orgWeightBox" style="width:65px">
  </div>
  <div class="form-group">
    <label for="orgEvl" class="col-sm-2 control-label">EVALUATION :</label>
    <input class="form-control" ng-model="orgEvalBox" style="width:65px">
  </div>
  <div class="form-group">
    <label for="orgPoints" class="col-sm-2 control-label">POINTS: </label>
    <input class="form-control" ng-model="orgPointsBox" style="width:65px">
  </div>
  <div class="form-group">
    <label for="orgSelfEvl" class="col-sm-2 control-label">SELF EVALUATION :</label>
    <textarea class="form-control" ng-model="orgSelfEvalBox" flexible-width></textarea>
  </div>
  <div class="form-group">
    <label for="orgScrAno" class="col-sm-2 control-label">SCORING ANNOTATION:</label>
    <textarea class="form-control" ng-model="orgScoringAnnoBox" flexible-width></textarea>
  </div>
</form>