

   <form class="form-horizontal">
  <div class="form-group">
    <label for="profDesc" class="col-sm-2 control-label">DESCRIPTION:</label>
      <textarea class="form-control" ng-model="profGoalBox" flexible-width></textarea>
  </div>
  <div class="form-group">
    <label for="profWeight" class="col-sm-2 control-label">WEIGHT (EQUALS 100%):</label>
    <input class="form-control" ng-model="profWeightBox" style="width:65px">
  </div>
  <div class="form-group">
    <label for="profEvl" class="col-sm-2 control-label">EVALUATION :</label>
    <input class="form-control" ng-model="profEvalBox" style="width:65px">
  </div>
  <div class="form-group">
    <label for="profPoints" class="col-sm-2 control-label">POINTS: </label>
    <input class="form-control" ng-model="profPointsBox" style="width:65px">
  </div>
  <div class="form-group">
    <label for="profSelfEvl" class="col-sm-2 control-label">SELF EVALUATION :</label>
    <textarea class="form-control" ng-model="profSelfEvalBox" flexible-width></textarea>
  </div>
  <div class="form-group">
    <label for="profScrAno" class="col-sm-2 control-label">SCORING ANNOTATION:</label>
    <textarea class="form-control" ng-model="profScoringAnnoBox" flexible-width></textarea>
  </div>
</form>