  <form class="form-horizontal">
  <div class="form-group">
    <label for="projWeight" class="col-sm-2 control-label">PROJECT: </label>
    <input class="form-control" ng-model="prjtBox" flexible-width>
  </div>
  <div class="form-group">
    <label for="projDesc" class="col-sm-2 control-label">DESCRIPTION:</label>
      <textarea class="form-control" ng-model="descBox" flexible-width></textarea>
  </div>
  <div class="form-group">
    <label for="projEvl" class="col-sm-2 control-label">EVALUATION :</label>
    <input class="form-control" ng-model="evalBox" style="width:65px">
  </div>
  <div class="form-group">
    <label for="projSelfEvl" class="col-sm-2 control-label">SELF EVALUATION :</label>
    <input class="form-control" ng-model="selfEvalBox" style="width:65px">
  </div>
  <div class="form-group">
    <label for="projScrAno" class="col-sm-2 control-label">SCORING ANNOTATION:</label>
    <textarea class="form-control" ng-model="scoringAnnoBox" flexible-width></textarea>
  </div>
  <div class="form-group">
    <label for="projCounCom" class="col-sm-2 control-label">PM FEEDBACK:</label>
    <textarea class="form-control" ng-model="counselorCommBox" flexible-width></textarea>
  </div>
</form>