<div class="col-md-12">
	<div style="padding-top: 20px" class="col-md-6">
	<form class="form-horizontal">
	  <div class="form-group">
	    <label for="evalPoint" class="col-sm-2 control-label">POINTS: </label>
	    <input class="form-control" ng-model="evalGoalBox" style="width:65px">
	  </div>
	  <div class="form-group">
	    <label for="evalDesc" class="col-sm-2 control-label">RATING: </label>
	      <input class="form-control" ng-model="evalWeightBox" style="width:65px">
	  </div>
	  <div class="form-group">
	    <label for="evalCounCom" class="col-sm-2 control-label">PM FEEDBACK:</label>
	    <textarea class="form-control" ng-model="evalEvalBox" flexible-width></textarea>
	  </div>
	</form>
 	</div>
 	<div class="hc-spider col-md-6" id="finalSumChart" ng-model="summaryChart" style="min-width: 400px; max-width: 600px; height: 400px; margin: 0 auto"> </div>
</div>
