
 <form class="form-horizontal">
  <div class="form-group">
    <label for="utilWeight" class="col-sm-2 control-label">PROJECT: </label>
    <input class="form-control" ng-model="utilPrjtBox" flexible-width>
  </div>
  <div class="form-group">
    <label for="utilDesc" class="col-sm-2 control-label">DESCRIPTION:</label>
      <textarea class="form-control" ng-model="utilGoalBox" flexible-width></textarea>
  </div>
  <div class="form-group">
    <label for="utilSelfEvl" class="col-sm-2 control-label">SELF EVALUATION :</label>
    <input class="form-control" ng-model="utilEvalBox" style="width:65px">
  </div>
  <div class="form-group">
    <label for="utilScrAno" class="col-sm-2 control-label">SCORING ANNOTATION:</label>
    <textarea class="form-control" ng-model="utilScoringAnnoBox" flexible-width></textarea>
  </div>
  <div class="form-group">
    <label for="utilCounCom" class="col-sm-2 control-label">PM FEEDBACK:</label>
    <textarea class="form-control" ng-model="utilSelfEvalBox" flexible-width></textarea>
  </div>
</form>